body {
  background: rgb(35, 35, 35);
}

h1 {
  color: rgb(245, 238, 238);
}

button {
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
}

.image-gallery li {
  height: 300px;
  cursor: pointer;
  position: relative;
}

.image-gallery li:hover h1 {
  opacity: 1;
}

.image-gallery li h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  opacity: 0;
}
